    body {
        position: relative;
        height: 100vh;
        width: 100vw;
        left: 0px;
        top: 0px;
        overflow-x: hidden;
        height: auto;
        .body__background {
            right: 0%;
            position: absolute;
            width: 100vw;
            margin-top: 10%;
        }
        .body {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 33;
            main {
                width: 100%;
                height: 100%;
                // background-color: red;
            }
            .body__header {
                width: 100%;
                // background-color: aqua;
                .navbar {
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    width: 100%;
                    z-index: 999;
                    position: relative;
                    height: 60px;
                    background-image: url(./images/Asset\ 11.png);
                    #logo {
                        vertical-align: middle;
                        margin-left: 17%;
                        // display: flex;
                        margin-top: -0.5%;
                        position: relative;
                        width: 60%;
                        & a {
                            margin-top: 2%;
                            img {
                                transform: scale(0.7, 0.7);
                            }
                        }
                    }
                }
                #myNavbar {
                    width: 100%;
                    margin-left: 0%;
                    ul {
                        li {
                            text-transform: uppercase;
                        }
                    }
                }
            }
            main {
                position: relative;
                height: 100%;
                width: 100%;
                .main__banner-background {
                    position: relative;
                    .banner__img {
                        position: relative;
                        height: 100%;
                        width: 100%;
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
                .main__women-issue-background {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    .issue-background {
                        position: relative;
                        height: 100%;
                        width: 100%;
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .issue__title {
                        margin-top: 1%;
                        color: #663903;
                        font-weight: 800;
                        position: absolute;
                        top: 0px;
                        height: fit-content;
                        width: 100%;
                        .title__title {
                            width: 50%;
                            height: fit-content;
                            margin: auto;
                            .title__bigtitle {
                                font-size: 2.5rem;
                                text-align: left;
                            }
                            .title__subtitle {
                                font-size: 1.5rem;
                                text-align: right;
                            }
                            hr {
                                width: 85%;
                            }
                        }
                    }
                }
                .main__product-background {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    .main__product__container {
                        position: relative;
                        height: 100%;
                        width: 100%;
                        .product__product-image-silent {
                            position: relative;
                            height: 100%;
                            width: 100%;
                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }
                        .product__title {
                            color: #663903;
                            position: absolute;
                            top: 3%;
                            width: 100%;
                            height: fit-content;
                            .title {
                                width: 40%;
                                height: 100%;
                                margin: auto;
                                hr {
                                    height: 20px;
                                    font-weight: 500;
                                }
                                .title__bigtitle {
                                    font-size: 3.5rem;
                                    text-align: left;
                                    width: 100%;
                                }
                                .title__subtitle {
                                    font-size: 1.5rem;
                                    text-align: right;
                                    width: 100%;
                                    span {
                                        font-size: 3.5rem;
                                    }
                                }
                            }
                        }
                        .product__gredient {
                            // background-color: #663903;
                            position: absolute;
                            top: 24%;
                            width: 100%;
                            height: 27%;
                            .gredient__gredient {
                                position: relative;
                                height: 100%;
                                width: 48%;
                                margin: auto;
                                // background-color: #FEBF27;
                                .product__left-gredient {
                                    // background-color: #FEBF27;
                                    position: absolute;
                                    height: 50%;
                                    width: 36%;
                                    top: 0px;
                                    .left-gredient__title {
                                        position: absolute;
                                        top: 20%;
                                        color: #013B22;
                                        font-weight: 800;
                                    }
                                    .left-gredient__explain {
                                        // background-color: aqua;
                                        margin-top: 22%;
                                        margin-left: 7%;
                                    }
                                }
                                .product__right-gredient {
                                    // background-color: #FEBF27;
                                    position: absolute;
                                    height: 50%;
                                    width: 36%;
                                    top: 0px;
                                    right: 0px;
                                    text-align: right;
                                    font-size: 1.1rem;
                                    .right-gredient__title {
                                        color: #013B22;
                                        font-weight: 800;
                                    }
                                    .right-gredient__explain {
                                        // background-color: aqua;
                                        margin-top: 2%;
                                        margin-right: 7%;
                                    }
                                }
                            }
                        }
                        .gredient__floor {
                            position: absolute;
                            bottom: 0px;
                            height: 48%;
                            width: 100%;
                            .floor__container {
                                position: relative;
                                height: 100%;
                                width: 60%;
                                margin: auto;
                                .product__product-name {
                                    position: absolute;
                                    height: 20%;
                                    width: 100%;
                                    bottom: 48%;
                                    left: 0px;
                                    .product-name__text {
                                        margin: auto;
                                        width: 61%;
                                        height: 68%;
                                        margin-top: 3.5%;
                                        text-align: center;
                                        .product-name__vn-name {
                                            position: relative;
                                            width: 100%;
                                            height: 50%;
                                            color: #013B22;
                                        }
                                        .product-name__en-name {
                                            padding-top: 2%;
                                            position: relative;
                                            width: 100%;
                                            height: 50%;
                                            color: #013B22;
                                        }
                                    }
                                }
                                .first-floor-benefit__right-benefit {
                                    position: absolute;
                                    top: 0px;
                                    left: 2%;
                                    height: 32%;
                                    width: 20%;
                                    display: flex;
                                    align-items: center;
                                    .benefit__text {
                                        height: 30%;
                                        // display: flex;
                                        align-items: center;
                                        width: 100%;
                                        position: relative;
                                        text-align: center;
                                    }
                                }
                                .first-floor-benefit__left-benefit {
                                    position: absolute;
                                    top: 0px;
                                    right: 2%;
                                    height: 32%;
                                    width: 20%;
                                    display: flex;
                                    align-items: center;
                                    background-color: #013B22;
                                    opacity: 0.5;
                                    .benefit__text {
                                        margin-top: 35%;
                                        margin-left: 2%;
                                        height: 100%;
                                        width: 100%;
                                        position: relative;
                                        text-align: center;
                                        color: black;
                                    }
                                }
                                .product__second-floor-benefit {
                                    position: absolute;
                                    bottom: 0px;
                                    height: 45.5%;
                                    width: 100%;
                                    .second-floor__container {
                                        position: relative;
                                        height: 100%;
                                        width: 90%;
                                        margin: auto;
                                        .floor-benefit__left {
                                            position: absolute;
                                            top: 0px;
                                            left: 2%;
                                            height: 70%;
                                            width: 23%;
                                            display: flex;
                                            align-items: center;
                                            .benefit__text {
                                                height: 30%;
                                                width: 100%;
                                                position: relative;
                                                text-align: center;
                                                color: black;
                                            }
                                        }
                                        .floor-benefit__right {
                                            position: absolute;
                                            top: 0px;
                                            right: 0%;
                                            height: 70%;
                                            width: 23%;
                                            color: black;
                                            display: flex;
                                            align-items: center;
                                            .benefit__text {
                                                height: 30%;
                                                width: 100%;
                                                position: relative;
                                                text-align: center;
                                                color: black;
                                            }
                                        }
                                        .floor-benefit__middle {
                                            position: absolute;
                                            height: 70%;
                                            width: 23%;
                                            bottom: 10%;
                                            left: 39%;
                                            display: flex;
                                            align-items: center;
                                            .benefit__text {
                                                height: 30%;
                                                width: 100%;
                                                position: relative;
                                                text-align: center;
                                                color: black;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .main__order-product-background {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    .product__container {
                        position: relative;
                        height: 100%;
                        width: 100%;
                        .form__button {
                            width: fit-content;
                            align-items: center;
                            padding-top: 3%;
                            padding-bottom: 3%;
                            margin: auto;
                            button {
                                margin-top: 2%;
                                border: none;
                                outline: none;
                                margin: auto;
                                background-color: #8C561C;
                                color: white;
                            }
                        }
                        .product-container__main-form {
                            position: absolute;
                            top: 30%;
                            width: 100%;
                            height: 70%;
                            .main-form__form {
                                position: relative;
                                width: 30%;
                                height: fit-content;
                                background-color: #FEBF27;
                                margin: auto;
                                form {
                                    width: 100%;
                                    height: 100%;
                                    table {
                                        width: 100%;
                                        height: 30%;
                                        margin: auto;
                                        tr {
                                            td {
                                                padding-left: 5%;
                                                padding-top: 2%;
                                                input {
                                                    width: 90%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .product__product-img {
                            position: relative;
                            height: 100%;
                            width: 100%;
                            img {
                                position: relative;
                                height: 100%;
                                width: 100%;
                            }
                        }
                        .product-container__title {
                            position: absolute;
                            top: 0px;
                            width: 100%;
                            height: 100%;
                            .title-container {
                                position: relative;
                                width: 50%;
                                height: fit-content;
                                margin: auto;
                                text-align: center;
                                .title__title {
                                    padding-top: 3%;
                                    height: 100%;
                                    width: 100%;
                                    vertical-align: middle;
                                }
                            }
                        }
                        .product-container__discount-title {
                            position: absolute;
                            top: 12%;
                            width: 100%;
                            height: 70%;
                            .discount-title__title {
                                position: relative;
                                height: fit-content;
                                width: 70%;
                                margin: auto;
                                text-align: center;
                                padding-top: 2%;
                            }
                        }
                    }
                }
                .main__register-product-background {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    .register__container {
                        position: relative;
                        height: 100%;
                        width: 100%;
                        .register-form__title {
                            position: absolute;
                            top: 6%;
                            width: 100%;
                            .form__title {
                                width: 60%;
                                margin: auto;
                                text-align: center;
                            }
                        }
                        .register__main-register {
                            width: 100%;
                            height: 57%;
                            top: 25%;
                            position: absolute;
                            .register__form-container {
                                position: relative;
                                display: flex;
                                top: 0px;
                                width: 60%;
                                height: 100%;
                                margin: auto;
                                .register__main--container__frame {
                                    height: 70%;
                                    border: 2px #663903 solid;
                                    margin-left: 3.5%;
                                }
                                .register__fluid-container {
                                    height: 100%;
                                    margin-left: 3%;
                                    .fluid-container__main-form {
                                        background-color: #FEBF27;
                                        height: 50%;
                                        padding-top: 4%;
                                        h4 {
                                            margin-bottom: 1.5rem;
                                            text-align: center;
                                        }
                                        form {
                                            height: 100%;
                                            table {
                                                border-spacing: 0px;
                                                height: 65%;
                                                // caption {
                                                //     background-color: rgb(255, 210, 127);
                                                //     text-align: center;
                                                //     margin-top: 2%;
                                                // }
                                                tr {
                                                    input {
                                                        width: 100%;
                                                        padding: 0%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .fluid-container__contact {
                                        position: relative;
                                        height: 20%;
                                        .contact__phone-number {
                                            position: absolute;
                                            left: 0px;
                                            margin-top: 5%;
                                        }
                                        .contact__social {
                                            position: absolute;
                                            right: -0%;
                                            text-align: right;
                                            img {
                                                cursor: pointer;
                                                transform: scale(0.5, 0.5);
                                                margin-right: -18%;
                                            }
                                            // img:nth-child(2) {
                                            //     margin-right: 40px;
                                            // }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .footer {
                position: relative;
                width: 100%;
                height: 100%;
                .footer__img-background {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    img {
                        position: relative;
                        width: 100%;
                        height: 100%;
                    }
                }
                .footer__text {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    .footer__container {
                        height: 90%;
                        width: 90%;
                        display: flex;
                        margin: auto;
                        position: relative;
                        .container__right-branch {
                            margin: auto;
                            width: 100%;
                            margin-top: 0px;
                            .title {
                                margin: auto;
                            }
                        }
                        .container__left-branch {
                            width: 100%;
                            margin: auto;
                            margin-top: 0px;
                            .title {
                                margin: auto;
                            }
                        }
                    }
                    .footer__made-by {
                        position: relative;
                        bottom: 0px;
                        left: 0px;
                        width: 70%;
                        text-align: center;
                        margin-bottom: 0px;
                        margin: auto;
                    }
                }
            }
        }
    }