body {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
    overflow-x: hidden;
    height: auto;
    .body__background {
        right: 0%;
        position: absolute;
        width: 100vw;
        margin-top: 10%;
    }
    .body {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 33;
        main {
            position: relative;
            width: 100%;
            height: 100%;
            // z-index: 100;
            .slide {
                img {
                    position: relative;
                    margin-top: 3.6%;
                    z-index: 100;
                    width: 100%;
                }
            }
            .main__deases {
                position: relative;
                width: 100%;
                height: fit-content;
                .deases__blur-back-ground {
                    position: relative;
                    top: -15%;
                    width: 100%;
                    height: 100%;
                    margin: auto;
                    // background-color: red;
                    .deases__second-back-ground {
                        position: relative;
                        left: 0px;
                        margin-top: -10.5%;
                        width: 100%;
                        height: 100%;
                        .deases__second__title {
                            margin: auto;
                            width: 60%;
                            height: 100%;
                        }
                        .title__deseas__rate {
                            text-align: right;
                        }
                        .deases__issue {
                            margin: auto;
                            margin-top: -0.6%;
                            width: 60%;
                            height: 100%;
                            display: flex;
                            .deases__second__wommen--img {
                                position: relative;
                                margin: auto;
                                width: 100%;
                                height: 100%;
                                margin-top: 22%;
                                // background-image: url(./images/woman-image.png);
                                // background-repeat: no-repeat;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    position: relative;
                                    margin: auto;
                                    transform: scale(5.5, 6);
                                    // margin-top: 25%;
                                    padding: 0px;
                                    margin-left: -6%;
                                }
                            }
                            .second__title__left--issue {
                                position: relative;
                                margin-left: 0%;
                                z-index: 40;
                                .left--issue__issue {
                                    width: 100%;
                                    height: 40%;
                                    margin-top: 5%;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                            .second__title__right--issue {
                                position: relative;
                                margin-left: -4%;
                                z-index: 40;
                                .right--issue__issue {
                                    width: 100%;
                                    height: 40%;
                                    margin-top: 5%;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                        .main__suggest-product {
                            margin: auto;
                            margin-top: 8.9%;
                            width: 60%;
                            height: 100%;
                            display: flex;
                            // .deases__second__wommen--img {
                            //     position: relative;
                            //     margin: auto;
                            //     width: 100%;
                            //     height: 100%;
                            //     margin-top: 22%;
                            //     // background-image: url(./images/woman-image.png);
                            //     // background-repeat: no-repeat;
                            //     img {
                            //         width: 100%;
                            //         height: 100%;
                            //         position: relative;
                            //         margin: auto;
                            //         transform: scale(5.5, 6);
                            //         // margin-top: 25%;
                            //         padding: 0px;
                            //         margin-left: -6%;
                            //     }
                            // }
                            .second__title__left--issue {
                                position: relative;
                                margin-left: 0%;
                                z-index: 40;
                                .left--issue__issue {
                                    width: 100%;
                                    height: 40%;
                                    margin-top: 5%;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                            .second__title__right--issue {
                                position: relative;
                                margin-left: -4%;
                                z-index: 40;
                                .right--issue__issue {
                                    width: 100%;
                                    height: 40%;
                                    margin-top: 5%;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .main__suggest-product {}
        }
        .body__header {
            width: 100%;
            // background-color: aqua;
            .navbar {
                top: 0px;
                left: 0px;
                right: 0px;
                width: 100%;
                z-index: 999;
                position: absolute;
                height: 60px;
                background-image: url(./images/Asset\ 11.png);
                #logo {
                    vertical-align: middle;
                    margin-left: 17%;
                    // display: flex;
                    margin-top: -0.5%;
                    position: relative;
                    width: 60%;
                    // & a:nth-child(2) {
                    //     margin-left: -4%;
                    // }
                    // & a:nth-child(3) {
                    //     margin-left: -7%;
                    // }
                    & a {
                        margin-top: 2%;
                        img {
                            transform: scale(0.7, 0.7);
                        }
                    }
                }
            }
            #myNavbar {
                width: 100%;
                margin-left: 0%;
                ul {
                    li {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}